[alias]
        track = ![[ $(git config "branch.$(git symbolic-ref --short HEAD).merge") = '' ]] && git push -u origin $(git symbolic-ref --short HEAD) || git push
[credential]
	helper = osxkeychain
[user]
	name = Rhys Davies
	email = rhys.davies901@gmail.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[diff "sopsdiffer"]
	textconv = sops -d
[mergetool]
	path = nvim
